@media (max-width: 727px){
    .breakL1{
        display: grid;
    }
}
@media not (max-width: 727px){
    .breakL1{
        display: flex;
    }
}
#tab{
	min-height: 100px;
}
body {
    overflow-y: scroll;
	background: url(./imgs/情.png);
}
#copyright{
	background: white;
	font-size: 15pt;
	margin: 0px;
	text-align: center;
}